body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.dialpad {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    max-width: 300px;
    width: 100%;
}

.screen {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.key {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    padding: 20px;
    font-size: 20px;
    transition: background-color 0.3s, transform 0.3s;
}

.key:hover {
    background-color: #eaeaea;
}

.key:active {
    transform: scale(0.95);
}

.print-btn {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.print-btn:hover {
    background-color: #0056b3;
}

.ticket {
    width: 25mm;
    height: 25cm;
    page-break-after: always;
    padding: 10px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ticket-content {
    padding: 5mm; /* Adjust padding as needed */
    font-weight: bold;
    display: inline-block;
    text-align: left;
    max-width: calc(250mm - 20px); /* Adjust the width to fit within the ticket */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transform: rotate(-90deg) translateY(-100%); /* Rotate the content by -90 degrees and move it up */
    transform-origin: bottom left; /* Set the rotation origin to the bottom left corner */
}



/* Custom animation for button */
@keyframes buttonClick {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}
